{% extends 'base.html' %}
{% load static %}

{% block title %}Mobile Number{% endblock %}

{% block content %}
<div class="container px-4 text-center">
  <div class="row">
    <div class="col-12 mt-4">
      <form method="post" action="{% url 'add_mobile_number' %}">
        <fieldset class="border p-4">
          <legend class="h2 mb-3">Mobile Number</legend>
          <p>Please enter your mobile phone number.
          You will receive a unique 6-digit
          code to verify your number.</p>
          {{ form.as_p }}
          {% csrf_token %}
          {% for message in messages %}
            <p class="text-danger">{{ message }}</p>
          {% endfor %}
          <p
            class="text-danger"
            id="error_message"
            style="display:none;"
          >
          </p>
          <button
            class="btn btn-primary mb-3 px-5"
            id="verify_button"
          />
            Verify
          </button>
          <input
            class="btn btn-primary mb-3 px-5"
            id="submit_button"
            name="submit"
            style="display:none;"
            type="submit"
            value="Submit"
          />
          <p><a href="{% url 'login' %}">Return to login</a></p>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'mobile_verification.js' %}"></script>
<script>
  window.userManager.verifyPhone("{% url 'verify_mobile_number' %}");
</script>
{% endblock %}
