{% extends 'base.html' %}
{% load static %}

{% block title %}Email Address{% endblock %}

{% block content %}
<div class="container px-4 text-center">
  <div class="row">
    <div class="col-12 mt-4">
      <form method="post" action="{% url 'add_mobile_number' %}">
        <fieldset class="border p-4">
          <legend class="h2 mb-3">Email Address</legend>
          <p>Please enter your email address.</p>
          {{ form.as_p }}
          {% csrf_token %}
          <p class="text-danger" style="display:none;"></p>
          <input
            class="btn btn-primary mb-3 px-5"
            id="submit_button"
            name="submit"
            type="submit"
            value="Submit"
          />
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'mobile_verification.js' %}"></script>
<script>
  window.userManager.verifyPhone("{% url 'verify_mobile_number' %}");
</script>
{% endblock %}
