{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container px-4 text-center">
  <div class="row">
    <div class="col-12 mt-4">
      <form method="post" action="{% url 'reset_password' token %}">
        <fieldset class="border p-4">
          <legend class="h2 mb-3">Reset Your Password</legend>
          {{ form.as_p }}
          {% csrf_token %}
          <input
            class="btn btn-primary mb-3 px-3"
            type="submit"
            value="Reset Password"
          />
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
